<header class="header" id="menu">
  <div class="header__container">
    <div class="header__menu menu">
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Feature</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Product</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Testmonial</a></li>
        </ul>
      </nav>
    </div>
    <a href="#" class="menu__button button button_color_accent">GET STATED</a>
    <div class="header__icon" data-open-block="menu"><span></span></div>
  </div>
</header>