<button class="multypage-open" id="multypage-open">Информация + все страницы</button>
<div class="multypage">
    <div class="multypage__window">
        <div class="multypage__info">
            <p class="multypage__paragraph">
                <span>#project_name</span>
                
                Верстка #project_name имеет высокую скорость загрузки, благодаря использованию легковесных форматов изображений и шрифтов, а выглядит одинаково хорошо на любых популярных размерах экранов.
                <span>Выполнено FB24M</span>
                <span>Список страниц:</span>
            </p>
        </div>
        
        <ol class="multypage__list">
            <li class="multypage__element"><a href="index.html" class="multypage__link">Главная</a></li>
        </ol>
    </div>
</div>