.button {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	padding: 15px 30px;

	border-radius: 6px;

	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
}

.button_color_accent {
	background-color: $accent;

	&:hover {
		@media(hover: hover) {
			background-color: lighten($accent, 5%);
		}
	}

	&:active {
		background-color: darken($accent, 5%) !important;
	}
}

.button_border_purple {
	color: #6464ec;

	border: 1px solid rgba(#6464ec, 20%);
	padding: 13px 28px;
}

.button_border_gray {
	padding: 13px 28px;
	color: $accent;
	border: 1px solid #e5e5e5;
}