@mixin columns($count, $breakpoint: $tablet, $break: 1, $flex-basis: #{math.div(100, $count)}+'%', $gap: 0) {
	display: flex;

	@if ($gap !=0) {
		gap: $gap;
	}

	@media (max-width: $breakpoint) {
		flex-wrap: wrap;
	}


	&>* {
		flex-basis: $flex-basis;

		@if($break ==1) {
			@media (max-width: $breakpoint) {
				flex-basis: 100%;
			}
		}
	}
}

@mixin center {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}