{% import "../icons.njk" as icons %}

{% macro card(icon, title, description) %}
<div class="feature__card feature-card">
	<div class="feature-card__icon">{{icon}}</div>
	<span class="feature-card__title">{{title}}</span>
	<p class="feature-card__description text text_variation_body1">{{description}}</p>
</div>
{% endmacro %}

<div class="feature">
	<div class="feature__container">
		<h2 class="feature__title">our service Feature</h2>
		<p class="feature__description text text_variation_body1"> Watch companies are now focusing more on trendy watches
			which targets the youngsters who always.</p>
		<div class="feature__columns">
			<div class="feature__column">
				{{card(icons.android('feature__svg'), 'android version', 'Android officially 10.0')}}
				{{card(icons.internet('feature__svg'), 'internet Service', '4G Smart Watches')}}
				{{card(icons.player('feature__svg'), 'music player', 'Use the Music app')}}
			</div>
			<div class="feature__column feature__column_wide">
				<img src="#img/home/feature.png" alt="" class="feature__image">
			</div>
			<div class="feature__column">
				{{card(icons.battery('feature__svg'), 'Battery', 'battery life is 18 hours')}}
				{{card(icons.settings('feature__svg'), 'settings', 'Choose your settings')}}
				{{card(icons.messages('feature__svg'), 'messages', 'Open the Messages app')}}
			</div>
		</div>
	</div>
</div>