<div class="reviews"> {% import "../icons.njk" as icons %}
	<div class="reviews__container">
		<div class="reviews__review review">
			<p class="review__text text text_variation_body1">
				For example, if someone lives in adverse conditions then they use the slogan accuracy under adverse conditions
				to show them their watch can fulfill their needs. Similarly, if someone likes handmade products then they use
				the slogan Handmade.
			</p>
			<div class="review__user">
				<div class="review__info">
					<span class="review__name">Ronald Richards</span>
					<div class="review__title">D.M Richards</div>
				</div>
				<img src="#img/home/avatar.png" alt="" class="review__avatar">
				<div class="review__wrapper">
					{{icons.quote('review__quote')}}
				</div>
			</div>
		</div>
	</div>
</div>