<div class="video"> {% import "../icons.njk" as icons %}
	<div class="video__container">
		<div class="video__block">
			<img src="#img/home/video.png" alt="" class="video__image">
		</div>
		<div class="video__block">
			<h2 class="video__title">The best watch for your best time.</h2>
			<p class="video__description text text_variation_body1">Since the watch is such a popular Fashion accessory and is
				seen as an essential wardrobe piece for both men and women.</p>
			<a href="#" class="video__button button button_border_gray">{{icons.play('video__icon')}} Play Video</a>
		</div>
	</div>
</div>