{% import "../icons.njk" as icons %}

<div class="welcome">
	<div class="welcome__container">
		<div class="welcome__block">
			<span class="welcome__label text text_variation_label">your watch your style</span>
			<h1 class="welcome__title">Have You Ever Worn A Real Watch.</h1>
			<p class="welcome__description text text_variation_body1" data-da=".welcome__block_last,768,last">The styles of
				watches available to consumers
				are endless and profit also endless. if you are Fashion Geek and have guts to sort out need related to </p>
			<div class="welcome__buttons" data-da=".welcome__block_last,768,last">
				<a href="#" class="welcome__button button button_color_accent">GET STATED</a>
				<a href="#" class="welcome__button button button_border_purple">
					{{icons.apple('welcome__icon')}} Gallery
				</a>
			</div>
		</div>
		<div class="welcome__block welcome__block_last">
			<img src="#img/home/welcome.png" alt="" class="welcome__image">
		</div>
	</div>
</div>