.footer {
	background-color: #F7F7F7;
	padding: 100px 0;
	margin-top: 100px;

	&__columns {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@include adaptive-value('gap', 30, 10);
	}

	&__column {
		@media (max-width: 620px) {
			flex-basis: 90px;
		}

		&:first-child {
			@media (max-width: 620px) {
				flex-basis: 100%;
				display: flex;
				gap: 20px;
			}
		}
	}

	&__info {
		max-width: 120px;
	}

	&__logo {
		margin-bottom: 25px;
		font-weight: 600;
		font-size: rem(18);
	}

	&__description {
		margin-bottom: 25px;
		@include adaptive-value('font-size', 16, 14);
	}

	&__social-list {
		margin-bottom: 25px;
		display: flex;
		gap: 24px;
		padding: 20px 0 0;
		justify-content: center;
	}

	&__social-item {}

	&__social-link {}

	&__list {
		display: flex;
		flex-direction: column;
		@include adaptive-value('gap', 25, 20);
	}

	&__item {
		&:nth-child(1) {
			font-weight: 600;
			line-height: 120%;
			@include adaptive-value('font-size', 16, 14);
		}
	}

	&__link {
		@include adaptive-value('font-size', 16, 12);
	}

	&__input {}
}

.input {
	&_text {}
}