@use "sass:math";

// Настройки шрифта
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,700&display=swap");
// @import "fonts"; // Подключение файла со шрифтами (если есть)

/* ============================== */

// Настройки контейнера
$container-width: 1320; // Ширина ограничивающего контейнера
$container-padding: 15px; // Отступы справа и слева в контейнере (на телефоне)
$layout-width: 1400; // Ширина полотна (макета)
$min-width: 320; // Минимальная ширина макета (если в макете есть адаптив). Если нет - 320 

// Брейкпоинты (адаптив)
$tablet: 768px;
$mobile: 425px;
$mobile-medium: 375px;
$mobile-small: 320px;

// Подключение файла миксинов и базовых функций
@import "mixins";

$font-size: 16px; // Размер шрифта по умолчанию
$font-family: 'Poppins', sans-serif; // Семейство шрифтов по умолчанию

$block-padding: 60px; // Отступ между блоками
$enable-padding: false; // Включить отступ между контейнерами?

// Цвета
$main-color: #01010D; // Цвет шрифта по умолчанию

$accent: #1617DB;

// Подключение файла обнуляющих стилей
@import "null";

/* ============================== */

body {
    overflow-x: hidden;

    .lock & {
        overflow: hidden;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1 0 auto;
}

[class$="__container"] {
    max-width: #{$container-width}px;
    margin: 0 auto;
    padding: 0 $container-padding;

    @if($enable-padding) {
        &:not(.header__container, .footer__container) {
            padding: $block-padding $container-padding;
        }
    }
}

/* ============================== */

@import "base";

// Другие импорты, такие как header, footer и т.д.

@import "header";
@import "footer";

@import "home/welcome.scss";
@import "home/feature";
@import "home/goods.scss";
@import "home/video.scss";
@import "home/reviews.scss";